*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
   font-size: 62.5%; 
}
.header{
    height: 100rem;
    background-color: rgb(107,255,228);
    text-align: center;
}

.header-text{
    position: relative;
    height: 40rem;
    width: 40rem;
    text-transform: uppercase;
    font-family: 'Calistoga', cursive;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2rem;
  
}

.position{
    position: absolute;
    top: 20%;
    left: -45%;
    height: 20rem;
}

#text{
    z-index: 2;
    top: 25%;
    left: 70%;
    color: blue;
}

#texttwo{
    z-index: 2;
    top: 140%;
    left: 20%;
    color: blueviolet;
}

#hedge{
    height: 60rem;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
